
@model Instructor

<div class="card" style="width: 18rem;">
    <img src="@Model.Img" alt="Instructor Image" style="max-width: 100%; height: auto;" />
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Department : @Model.Department.Name</li>
        <li class="list-group-item">Address    : @Model.Address</li>
        <li class="list-group-item">Salary     : @Model.Salary</li>
    </ul>
    <div class="card-body">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">Edit</a>
        <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">Details</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">Delete</a>

    </div>
</div>
